@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


:root {
    --modal-duration: 1s;
    --primary-color: rgb(37, 31, 4);
    --secondary-color: rgb(236, 175, 8);
    --third-color: rgb(138, 107, 153);
}




html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    position:absolute;
    background-image: url(/OldWork///image/texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: fixed;
}

.projects {
    width:80%;
    margin-bottom: 30px; 
    margin: auto;
    padding: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.container {
    width:90%;
    margin:auto;
    overflow:hidden;
}

ul {
    margin:0;
    padding:0;
}

/* Header */
header {
    background-color: var(--primary-color);
    color:whitesmoke;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: var(--secondary-color) 3px solid;
    position: sticky;
    top: 0;
    
}

header a {
    color:#ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}


header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float:left;
}

header #branding h1 {
    margin:0;
    padding: 0 0 30px 0;
    font-size: 35px;
}

header nav {
    float: right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:var(--secondary-color);
    font-weight: bold;
}

header a:hover {
    color:rgb(208, 169, 253);
    font-weight: bold;
}

.containersomething {
    width: 100%;
    height: 100px;
}

/* Showcase */

#showcase {
    min-height: 400px;
    background:url('/OldWork//image/photo2.jpg') no-repeat 0 -800px;
    color:whitesmoke;
    text-align: center;
    position: relative;
    z-index: -1;
    border-bottom: var(--secondary-color) 3px solid;
    
}

#showcase h1 {
    margin-top: 100px;
    font-size:55px;
    margin-bottom: 10px;
    text-align: center;
    border: white solid 2px;
    padding: 1.7em;
    
}
#showcase p {
    text-align: center;
    font-size: 20px;
    font-family: 'Indie Flower';
    margin-top: 0;
    font-weight: bold;
}

#hello {
    color: black;
}

.software {
    color:black;
}

.raleigh {
    color:black;
}



/* Filler Section */
.something {
    font-size: 20px;
    width: 80%;
    margin: auto;
    color:rgba(245, 245, 245);
    /* background-color: rgba(41, 32, 2, 0.8); */
    background:linear-gradient(rgb(41,32,2), rgba(88, 45, 4, 0.4));
    padding-top: 0;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-radius: 20px;
}
.something p {
    padding-bottom: 0;
    font-size: 16px;
    
}
  

 button {
    min-width: 80px;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    text-decoration: none;
    color:whitesmoke;
    background-color: rgb(115, 107, 153);
    padding: 10px;
    border-radius: 10%;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
}

 button:hover{
    background-color: rgba(138, 107, 153, 0.5);
}


/* Boxes */
.boxsection {
    margin-top: 20px;
    width:95%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}


.box {
    max-width: 30%;
    padding:5px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0,0,5,0.8);
    background-color: rgba(187, 116, 23, 0.5);
    border-radius: 1em;
    color:rgb(240, 238, 233);
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.box img {
    width: 200px;
    height:200px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.8); 
    border-radius: 1em;
    
}

.box p {
    padding: 2px 16px;
}

.btn{
    width: 40%;
    margin-top: auto;
    margin-bottom: 10px;  
}

.box:hover {
    box-shadow: none;
    animation-name: slowZoom;
    animation-duration:5s;
    animation-fill-mode: forwards;
   
}


/* Modal */

.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}


.modal-container.show-modal {
    display:block;
}


.modal {
    background-color: rgb(41, 32, 2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    overflow: scroll;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    max-width: 100%;
    max-height: 80%;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    
}



.modal-header {
    color:whitesmoke;
    text-align: center;
    border-bottom:var(--secondary-color) solid 0.5em;
}

.modal-content {
    padding:20px;
}

.close-btn {
    background-color: var(--secondary-color);
    font-size: 25px;
    position:absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.close-btn:hover {
    background-color: rgba(248, 179, 28,0.5);
}

/* footer */
.clearfix {
    
    clear:both;
    display:table;
}

footer {
    background-color:  rgb(41, 32, 2);
    color:var(--secondary-color);
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-top:var(--secondary-color) solid 3px;
}

footer i {
    color:var(--secondary-color);
    font-size: 30px;
}

.contactIcon i {
    color:var(--secondary-color);
    padding-right: 10px;
    float: right;
}


/* Animations */

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to 
    {
        opactiy: 1;
    }
}

@keyframes slowZoom {
    from {

    }
    to {
        transform: scale(1.1);
    }
}



/* Media */



@media screen and (max-width: 800px) {
    .boxsection  {
        width: 100%;
    } 
    .box {
        min-width: 90%;
    }

    .box:hover {
        transform: none;
    }

    header nav{
        display: none;
    }

    #showcase h1 {
        padding: 0;
    }

    .modal {
        max-width: 100%;
        max-height: 100%;
        
    }

    .modal button {
        max-width: 10px;
        font-size: xx-small;
        margin: 3em;
    }

    .modal img {
        height: 400px;
        width: 300px;
    }

    .box:hover{
        animation: none;
    }

}

/*
 @media only screen and (min-width: 992px) {...} 
@media only screen and (min-width: 1200px) {...}
*/